.container__add-note-btn {
    position: fixed;
    top: 80%;
    left: 85%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 40px;
    font-size: 50px;
    padding: 0px 0px 10px 0px;
    background-color: #5d8dcc;
}